
Assignment1/.ipynb_checkpoints/Assignment1-Heatmap-checkpoint.ipynb
Assignment1/.ipynb_checkpoints/Assignment1-NetworkGraph-checkpoint.ipynb
Assignment1/.ipynb_checkpoints/Assignment1-Scatterplot-checkpoint.ipynb
Assignment1/.ipynb_checkpoints/Assignment1-Traindata-checkpoint.ipynb
